<div class="container">
  <%= render "patients/shared/aside_menu", patient: @patient, doctor: @doctor, access_control: @access_control %>
  <%= render "patients/diagnostics/diets/new/content", patient: @patient, diagnostic: @diagnostic, diet: @diet %>
</div>
