<div class="container">
  <div class="mt-16 md:mt-0">
    <%= render partial: "patients/access_controls/index/authorization", collection: @access_controls, as: :access_control, locals: { patient: @patient } %>
  </div>
</div>
