<div class="container mt-16 md:mt-0">
  <%= fudgeball_button "Novo exame", url: new_patient_exam_path(@patient) if current_user.doctor? %>

  <%= render "patients/exams/index/exams", exams: @exams if @exams.any? %>
</div>
