<% if resource.errors.any? %>
  <div id="error_explanation" class="bg-red-200 px-4 py-2 rounded" data-turbo-cache="false">
    <p class="text-center"><%= I18n.t("errors.messages.not_saved", count: resource.errors.count, resource: resource.class.model_name.human.downcase) %></p>
    <ul>
      <% resource.errors.full_messages.each do |message| %>
        <li class="text-center"><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>
