<div class="container mt-16 md:mt-0">
  <h2>Cirurgias</h2>

  <div class="mt-10">
    <% if @surgeries.any? %>
      <%= fudgeball_button "Nova cirurgia", url: new_patient_surgery_path(@patient) if current_user.doctor? %>
      <%= render "patients/surgeries/index/surgeries", surgeries: @surgeries %>
    <% else %>
      <p class="text-center mt-5">Não há cirurgias para mostrar</p>
      <div class="mt-5 flex justify-center">
        <%= fudgeball_button "Nova cirurgia", url: new_patient_surgery_path(@patient) if current_user.doctor? %>
      </div>
    <% end %>
  </div>
</div>
