<div class="container">
  <%= render "patients/shared/aside_menu", patient: @patient, doctor: @doctor, access_control: @access_control %>
  <%= render "patients/surgeries/index/content", patient: @patient, surgeries: @surgeries %>
</div>
