<div class="container">
  <%= render "patients/shared/aside_menu", patient: @patient, doctor: @doctor, access_control: @access_control %>
  <%= render "patients/surgeries/new/content", patient: @patient, surgery: @surgery %>
</div>
