<div id="content" class="p-4 sm:ml-64 mb-5">
  <%= fudgeball_return_button patient_diagnostic_treatments_path(patient, diagnostic) %>
  <h2 class="mt-8">Cadastrar novo tratamento</h2>

  <div class="mt-5 flex justify-around items-center">
    <%= fudgeball_call_to_action "Cirurgia", { url: nil, icon: :treatments }, { class: "mt-5 w-80" } %>
    <%= fudgeball_call_to_action "Dieta", { url: new_patient_diagnostic_diet_path(patient, diagnostic), icon: :treatments }, { class: "mt-5 w-80" } %>
    <%= fudgeball_call_to_action "Receita", { url: nil, icon: :treatments }, { class: "mt-5 w-80" } %>
  </div>
</div>
