<div class="container">
  <%= render "patients/show/aside_menu", patient: @patient, doctor: @doctor, access_control: @access_control %>
  <%= render "patients/show/content", patient: @patient %>
</div>
