<div class="container mt-16 md:mt-0">
  <div class="mt-8">
    <p class="mt-2"><span class="font-bold">Exame que constatou os biodados mais recentes:</span></p>
    <p class="mt-2"><span class="font-bold">Data do exame:</span> <%= @biodatum.exam.date.strftime("%d/%m/%Y") %></p>
    <p class="mt-2"><span class="font-bold">Tipo do exame:</span> <%= t(@biodatum.exam.classification, scope: "activerecord.attributes.exam/classification") %></p>
    <p class="mt-2"><%= link_to "Visualizar", patient_exam_path(@patient, @biodatum.exam), class: "font-medium text-blue-600 dark:text-blue-500 hover:underline" %></p>

    <div class="mt-16">
      <%= render "patients/shared/exams/table", biodatum: @biodatum %>
    </div>
  </div>
</div>
