<div class="container">
  <div class="flex flex-col items-center">
    <%= tag.h2 "Seja bem vindo(a), #{@doctor.name}!", class: "mt-48" if @doctor.user == current_user %>

    <div class="mt-8 w-full flex justify-center">
      <%= render "shared/presentation_card", record: @doctor %>
    </div>
  </div>
</div>
