<div class="container">
  <%= render "patients/shared/aside_menu", patient: @patient, doctor: @doctor, access_control: @access_control %>
  <%= render "patients/consultations/index/content", access_controls: @access_controls, patient: @patient %>
</div>
