<div class="relative mt-8 overflow-x-auto shadow-md rounded-lg">
  <table class="w-full text-base text-left text-gray-500">
    <thead class="text-xs text-gray-700 uppercase bg-blue-100">
      <tr>
        <th scope="col" class="px-6 py-3">Nome</th>
        <th scope="col" class="px-6 py-3">CPF</th>
        <th scope="col" class="px-6 py-3">Ação</th>
      </tr>
    </thead>
    <tbody>
      <%= render partial: "patients/index/patient", collection: patients %>
    </tbody>
  </table>
</div>
