<%= link_to root_path, class: "flex items-center" do %>
  <%= image_tag "whc-logo.svg", class: "h-9 mr-3" %>
  <span class="self-center font-semibold whitespace-nowrap text-base md:text-2xl">Web Healthy Care</span>
<% end %>
