<% if treatment.ended_at.present? %>
  <p class="mt-2"><span class="font-bold">Data do fim:</span> <%= treatment.ended_at.strftime("%d/%m/%Y") %></p>
<% elsif current_user.doctor? %>
  <%= render "patients/diagnostics/treatments/show/ended_at_form", patient:, diagnostic:, treatment: %>
<% end %>
